.carousel-img {
  height: 100vh;
}

.container h1 {
  align-self: center;
}

.talk {
  height: 200px;
}

.theme-color {
  background-color: #f94144;
}

.card {
  transition: all 0.5s;
}

.card:hover {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  transform: scale(1.1);
}

.footer {
    background-color: #184d47;
}
/* f9844a */
.footer h3 a{
    color: #fff;
}

.footer-link {
    color: #fad586;
    transition: color 0.4s;
}

.footer-link:hover {
    color: #F9C74F;
}

.footer-link-icon {
    color: #96bb7c;
    /* text-decoration: none; */
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}